.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.Users{
    text-align: center;
}

.add-yourself-div{
    margin: 50px;
    border: 1px solid grey;
    padding: 20px;
    border-radius: 15px;
}

.add-yourself-text{
    margin-bottom: 10px;
}

.list-people-text{
   margin-bottom: 5px; 
}

.user-container{
    margin-top: 20px;
}
